click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
pdfkit==0.6.1
soupsieve==2.0.1
Werkzeug==1.0.1
WTForms==2.3.1
boto3==1.15.0
numba==0.48
paramiko==2.7.2
sshtunnel==0.3.1
sqlalchemy==1.3.22
tabulate==0.8.7

librosa==0.7.2
matplotlib~=3.3.0
numpy~=1.18.5
scikit-learn==0.22.2.post1
scikit-sound==0.2.3
scipy==1.4.1
SoundFile==0.10.3.post1
pandas==1.1.0
pyhocon~=0.3.55
opencv-python~=4.3.0.36
audiomentations==0.13.0
onnxruntime==1.8.0
noisereduce==2.0.0
webrtcvad==2.0.10
torch==1.9.0
torchaudio==0.9.0
